{
	"name": "{{project_name}}",
	"version": "0.1.0",
	"private": true,
	"type": "module",
	"scripts": {
		"dev": "bun --hot src/index.ts",
		"start": "NODE_ENV=production bun src/index.ts",
		"check": "biome check . && knip-bun && bunx tsc --noEmit",
		"test": "bun test",
		"prepare": "husky"
	},
	"devDependencies": {
		"@biomejs/biome": "^2.4.10",
		"@types/bun": "latest",
		"husky": "^9.1.7",
		"knip": "^6.3.0",
		"typescript": "^6.0.2"
	}
}
